# NBA Data Analysis for Prediction Model

## Table of Contents <a id="table_of_contents"></a>

0. [Import Libraries](#imports)
1. [Import Data](#import_data)
2. Data Exploration
3. Data Cleaning
4. Data Preparation
5. Benchmark Model
6. Visualization ?

## 0. Importing Libraries <a id="imports"></a>

[Back to top](#table_of_contents)

In [1]:
!pip install opendatasets

DEPRECATION: Loading egg at /opt/anaconda3/lib/python3.12/site-packages/geometry-0.0.1-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
Requirement already satisfied: opendatasets in /opt/anaconda3/lib/python3.12/site-packages (0.1.22)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from opendatasets) (4.66.4)
Requirement already satisfied: kaggle in /opt/anaconda3/lib/python3.12/site-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2024.7.4)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.2.2)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from bleach->kaggle->opendatasets) (23.2)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.12/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /opt/anaconda3/lib/python3.12/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kaggle->opendatasets) (3.7)

In [2]:
pip install pypyodbc

DEPRECATION: Loading egg at /opt/anaconda3/lib/python3.12/site-packages/geometry-0.0.1-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
Requirement already satisfied: pypyodbc in /opt/anaconda3/lib/python3.12/site-packages (1.3.6)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.12/site-packages (from pypyodbc) (72.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import matplotlib
from matplotlib import pyplot as plt
import opendatasets as od
import os

## 1. Import Data <a id="import_data"></a>

[Back to top](#table_of_contents)

In [4]:
#create connection to database file in Kaggle
dataset = "https://www.kaggle.com/datasets/wyattowalsh/basketball"
od.download(dataset)

Skipping, found downloaded files in "./basketball" (use force=True to force download)

In [5]:
# 1.Connect to SQL database
connection = sql.connect('basketball/nba.sqlite')
# Test SQL connectivity to database by writing a SQL query
test_query = "SELECT * FROM game"
# Load the data into a pandas DataFrame
df = pd.read_sql_query(test_query, connection)
# Display the DataFrame
print(df)
# Close Connection if necessary
connection.close()

      season_id team_id_home team_abbreviation_home           team_name_home  \
0         21946   1610610035                    HUS          Toronto Huskies
1         21946   1610610034                    BOM        St. Louis Bombers
2         21946   1610610032                    PRO  Providence Steamrollers
3         21946   1610610025                    CHS            Chicago Stags
4         21946   1610610028                    DEF          Detroit Falcons
...         ...          ...                    ...                      ...
65693     42022   1610612748                    MIA               Miami Heat
65694     42022   1610612748                    MIA               Miami Heat
65695     42022   1610612743                    DEN           Denver Nuggets
65696     32022   1610616834                    LBN              Team LeBron
65697     32022   1610616834                    LBN              Team LeBron

          game_id            game_date matchup_home wl_home  min  fgm_home  \
0      0024600001  1946-11-01 00:00:00  HUS vs. NYK       L    0      25.0
1      0024600003  1946-11-02 00:00:00  BOM vs. PIT       W    0      20.0
2      0024600002  1946-11-02 00:00:00  PRO vs. BOS       W    0      21.0
3      0024600004  1946-11-02 00:00:00  CHS vs. NYK       W    0      21.0
4      0024600005  1946-11-02 00:00:00  DEF vs. WAS       L    0      10.0
...           ...                  ...          ...     ...  ...       ...
65693  0042200403  2023-06-07 00:00:00  MIA vs. DEN       L  240      34.0
65694  0042200404  2023-06-09 00:00:00  MIA vs. DEN       L  240      35.0
65695  0042200405  2023-06-12 00:00:00  DEN vs. MIA       W  240      38.0
65696  0032200001  2023-02-19 00:00:00  LBN vs. GNS       L  221      79.0
65697  0032200001  2023-02-19 00:00:00  LBN vs. GNS       L  221      79.0

       ...  reb_away  ast_away  stl_away  blk_away  tov_away  pf_away  \
0      ...       NaN       NaN       NaN       NaN       NaN      NaN
1      ...       NaN       NaN       NaN       NaN       NaN     25.0
2      ...       NaN       NaN       NaN       NaN       NaN      NaN
3      ...       NaN       NaN       NaN       NaN       NaN     22.0
4      ...       NaN       NaN       NaN       NaN       NaN      NaN
...    ...       ...       ...       ...       ...       ...      ...
65693  ...      58.0      28.0       3.0       5.0      14.0     18.0
65694  ...      34.0      26.0      11.0       7.0       8.0     18.0
65695  ...      44.0      18.0       9.0       7.0       8.0     21.0
65696  ...      46.0      43.0       8.0       1.0      12.0      2.0
65697  ...      46.0      43.0       8.0       1.0      12.0      2.0

       pts_away  plus_minus_away  video_available_away     season_type
0          68.0                2                     0  Regular Season
1          51.0               -5                     0  Regular Season
2          53.0               -6                     0  Regular Season
3          47.0              -16                     0  Regular Season
4          50.0               17                     0  Regular Season
...         ...              ...                   ...             ...
65693     109.0               15                     1        Playoffs
65694     108.0               13                     1        Playoffs
65695      89.0               -5                     1        Playoffs
65696     184.0                9                     1        All-Star
65697     184.0                9                     1        All Star

[65698 rows x 55 columns]

## 2. Data Exploration

[Click here](https://www.nba.com/stats/help/glossary) for an NBA stat glossary.
[Click here](https://en.wikipedia.org/wiki/Basketball_statistics) for general basketball statistics acronyms.

Slug for CSV folder files (for the purpose of viewing the tables here): /basketball/csv/[table name].csv

* fgm = field goals made
* ftm = free throws made
* pts = points
* reb = rebounds
* oreb = offensive rebounds
* dreb = defensive rebounds
* ast = assists
* stl = steals
* blk = blocks
* tov = turnovers
* td = triple double
* wl = win/lose
* ft_pct_away = free throws % of away team

NBA's efficiency rating: (PTS + REB + AST + STL + BLK − ((FGA − FGM) + (FTA − FTM) + TO))

## 3. Data Cleaning

In [8]:
# 1.Connect to SQL database
explore_connection = sql.connect('basketball/nba.sqlite')

cursor = explore_connection.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS game_cleaned AS
    SELECT team_id_home, team_abbreviation_home, team_name_home, game_id, wl_home, fga_home, fg_pct_home, ftm_home, pts_home, fta_home, fgm_home, oreb_home, dreb_home, reb_home, ast_home, stl_home, blk_home, tov_home, pf_home, team_id_away, team_name_away, wl_away, fg_pct_away, ft_pct_away, pts_away, fgm_away, oreb_away, dreb_away, reb_away, ast_away, stl_away, blk_away, tov_away, pf_away
    FROM game
    WHERE fga_home IS NOT NULL AND fta_home IS NOT NULL AND ftm_home IS NOT NULL AND oreb_home IS NOT NULL AND dreb_home IS NOT NULL AND stl_home IS NOT NULL AND ast_home IS NOT NULL AND reb_home IS NOT NULL AND blk_home IS NOT NULL AND tov_home IS NOT NULL AND pf_home IS NOT NULL AND pts_home IS NOT NULL AND team_id_away IS NOT NULL AND team_name_away IS NOT NULL AND wl_away IS NOT NULL AND fg_pct_away IS NOT NULL AND ft_pct_away IS NOT NULL AND pts_away IS NOT NULL AND fgm_away IS NOT NULL AND oreb_away IS NOT NULL AND dreb_away IS NOT NULL AND reb_away IS NOT NULL AND ast_away IS NOT NULL AND stl_away IS NOT NULL AND blk_away IS NOT NULL AND tov_away IS NOT NULL AND pf_away IS NOT NULL AND pts_away IS NOT NULL;
''')
connection.close()

In [11]:
# 1.Connect to SQL database
add_calculation_connection = sql.connect('basketball/nba.sqlite')
cursor.execute('''
    ALTER TABLE game_cleaned ADD COLUMN eff_home;
''')

cursor.execute('''
    ALTER TABLE game_cleaned ADD COLUMN eff_away;
''')

cursor.execute('''
    UPDATE game_cleaned
    SET eff_home = (pts_home + reb_home + ast_home + stl_home + blk_home - ((fga_home - fgm_home) + (fta_home - ftm_home) + tov_home)),
        eff_away = (pts_away + reb_away + ast_away + stl_away + blk_away - ((fga_away - fgm_away) + (fta_away - ftm_away) + tov_away))
''')

display_game_cleaned_query = "SELECT * FROM game_cleaned"
game_cleaned_df = pd.read_sql_query(display_game_cleaned_query, explore_connection)
print(game_cleaned_df)
connection.close()

OperationalError: no such column: fga_home