# NBA Data Analysis for Prediction Model

## Table of Contents <a id="table_of_contents"></a>

0. [Import Libraries](#imports)
1. [Import Data](#import_data)
2. Data Exploration
3. Data Cleaning
4. Data Preparation
5. Benchmark Model
6. Visualization ?

## 0. Importing Libraries <a id="imports"></a>

[Back to top](#table_of_contents)

In [1]:
!pip install opendatasets

DEPRECATION: Loading egg at /opt/anaconda3/lib/python3.12/site-packages/geometry-0.0.1-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
Requirement already satisfied: opendatasets in /opt/anaconda3/lib/python3.12/site-packages (0.1.22)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from opendatasets) (4.66.4)
Requirement already satisfied: kaggle in /opt/anaconda3/lib/python3.12/site-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2024.7.4)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.2.2)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from bleach->kaggle->opendatasets) (23.2)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.12/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /opt/anaconda3/lib/python3.12/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests->kaggle->opendatasets) (3.7)

In [2]:
pip install pypyodbc

DEPRECATION: Loading egg at /opt/anaconda3/lib/python3.12/site-packages/geometry-0.0.1-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
Requirement already satisfied: pypyodbc in /opt/anaconda3/lib/python3.12/site-packages (1.3.6)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.12/site-packages (from pypyodbc) (72.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import matplotlib
from matplotlib import pyplot as plt
import opendatasets as od
import os

## 1. Import Data <a id="import_data"></a>

[Back to top](#table_of_contents)

In [4]:
#create connection to database file in Kaggle
dataset = "https://www.kaggle.com/datasets/wyattowalsh/basketball"
od.download(dataset)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  sharabelton

Your Kaggle Key:

  ········

Dataset URL: https://www.kaggle.com/datasets/wyattowalsh/basketball
Downloading basketball.zip to ./basketball

100%|██████████████████████████████████████████████████████████████████████████████████| 697M/697M [00:26<00:00, 27.7MB/s]

In [5]:
# 1.Connect to SQL database
connection = sql.connect('basketball/nba.sqlite')
# Test SQL connectivity to database by writing a SQL query
test_query = "SELECT * FROM game"
# Load the data into a pandas DataFrame
df = pd.read_sql_query(test_query, connection)
# Display the DataFrame
print(df)
# Close Connection if necessary
connection.close()

      season_id team_id_home team_abbreviation_home           team_name_home  \
0         21946   1610610035                    HUS          Toronto Huskies
1         21946   1610610034                    BOM        St. Louis Bombers
2         21946   1610610032                    PRO  Providence Steamrollers
3         21946   1610610025                    CHS            Chicago Stags
4         21946   1610610028                    DEF          Detroit Falcons
...         ...          ...                    ...                      ...
65693     42022   1610612748                    MIA               Miami Heat
65694     42022   1610612748                    MIA               Miami Heat
65695     42022   1610612743                    DEN           Denver Nuggets
65696     32022   1610616834                    LBN              Team LeBron
65697     32022   1610616834                    LBN              Team LeBron

          game_id            game_date matchup_home wl_home  min  fgm_home  \
0      0024600001  1946-11-01 00:00:00  HUS vs. NYK       L    0      25.0
1      0024600003  1946-11-02 00:00:00  BOM vs. PIT       W    0      20.0
2      0024600002  1946-11-02 00:00:00  PRO vs. BOS       W    0      21.0
3      0024600004  1946-11-02 00:00:00  CHS vs. NYK       W    0      21.0
4      0024600005  1946-11-02 00:00:00  DEF vs. WAS       L    0      10.0
...           ...                  ...          ...     ...  ...       ...
65693  0042200403  2023-06-07 00:00:00  MIA vs. DEN       L  240      34.0
65694  0042200404  2023-06-09 00:00:00  MIA vs. DEN       L  240      35.0
65695  0042200405  2023-06-12 00:00:00  DEN vs. MIA       W  240      38.0
65696  0032200001  2023-02-19 00:00:00  LBN vs. GNS       L  221      79.0
65697  0032200001  2023-02-19 00:00:00  LBN vs. GNS       L  221      79.0

       ...  reb_away  ast_away  stl_away  blk_away  tov_away  pf_away  \
0      ...       NaN       NaN       NaN       NaN       NaN      NaN
1      ...       NaN       NaN       NaN       NaN       NaN     25.0
2      ...       NaN       NaN       NaN       NaN       NaN      NaN
3      ...       NaN       NaN       NaN       NaN       NaN     22.0
4      ...       NaN       NaN       NaN       NaN       NaN      NaN
...    ...       ...       ...       ...       ...       ...      ...
65693  ...      58.0      28.0       3.0       5.0      14.0     18.0
65694  ...      34.0      26.0      11.0       7.0       8.0     18.0
65695  ...      44.0      18.0       9.0       7.0       8.0     21.0
65696  ...      46.0      43.0       8.0       1.0      12.0      2.0
65697  ...      46.0      43.0       8.0       1.0      12.0      2.0

       pts_away  plus_minus_away  video_available_away     season_type
0          68.0                2                     0  Regular Season
1          51.0               -5                     0  Regular Season
2          53.0               -6                     0  Regular Season
3          47.0              -16                     0  Regular Season
4          50.0               17                     0  Regular Season
...         ...              ...                   ...             ...
65693     109.0               15                     1        Playoffs
65694     108.0               13                     1        Playoffs
65695      89.0               -5                     1        Playoffs
65696     184.0                9                     1        All-Star
65697     184.0                9                     1        All Star

[65698 rows x 55 columns]

## 2. Data Exploration

[Click here](https://www.nba.com/stats/help/glossary) for an NBA stat glossary.
[Click here](https://en.wikipedia.org/wiki/Basketball_statistics) for general basketball statistics acronyms.

Slug for CSV folder files (for the purpose of viewing the tables here): /basketball/csv/[table name].csv

* fgm = field goals made
* ftm = free throws made
* pts = points
* reb = rebounds
* oreb = offensive rebounds
* dreb = defensive rebounds
* ast = assists
* stl = steals
* blk = blocks
* tov = turnovers
* td = triple double
* wl = win/lose
* ft_pct_away = free throws % of away team

NBA's efficiency rating: (PTS + REB + AST + STL + BLK − ((FGA − FGM) + (FTA − FTM) + TOV))

## 3. Data Cleaning

In [6]:
# 1.Connect to SQL database
explore_connection = sql.connect('basketball/nba.sqlite')

cursor = explore_connection.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS game_cleaned AS
    SELECT team_id_home, 
        team_id_away, 
        team_name_home, 
        team_name_away, 
        game_id, 
        wl_home, 
        fga_home, 
        fg_pct_home, 
        ftm_home, 
        pts_home, 
        fta_home, 
        fgm_home, 
        ftm_away, 
        oreb_home, 
        dreb_home, 
        reb_home, 
        ast_home, 
        stl_home, 
        blk_home, 
        tov_home, 
        pf_home, 
        team_id_away, 
        team_name_away, 
        wl_away, 
        fg_pct_away, 
        ft_pct_away, 
        fta_away, 
        pts_away, 
        fga_away, 
        fgm_away, 
        oreb_away, 
        dreb_away, 
        reb_away, 
        ast_away, 
        stl_away, 
        blk_away, 
        tov_away, 
        pf_away
    FROM game
    WHERE fga_home IS NOT NULL AND fta_home IS NOT NULL AND ftm_home IS NOT NULL AND oreb_home IS NOT NULL AND dreb_home IS NOT NULL AND stl_home IS NOT NULL AND ast_home IS NOT NULL AND reb_home IS NOT NULL AND blk_home IS NOT NULL AND tov_home IS NOT NULL AND pf_home IS NOT NULL AND pts_home IS NOT NULL AND team_id_away IS NOT NULL AND team_name_away IS NOT NULL AND wl_away IS NOT NULL AND fg_pct_away IS NOT NULL AND ft_pct_away IS NOT NULL AND pts_away IS NOT NULL AND fgm_away IS NOT NULL AND oreb_away IS NOT NULL AND dreb_away IS NOT NULL AND reb_away IS NOT NULL AND ast_away IS NOT NULL AND stl_away IS NOT NULL AND blk_away IS NOT NULL AND tov_away IS NOT NULL AND pf_away IS NOT NULL AND pts_away IS NOT NULL AND fga_away IS NOT NULL;
''')
display_game_cleaned_query = "SELECT * FROM game_cleaned"
game_cleaned_df = pd.read_sql_query(display_game_cleaned_query, explore_connection)
print(game_cleaned_df)

      team_id_home team_abbreviation_home       team_name_home     game_id  \
0       1610612760                    SEA  Seattle SuperSonics  0047700045
1       1610612764                    WAS   Washington Bullets  0047700046
2       1610612764                    WAS   Washington Bullets  0047700047
3       1610612760                    SEA  Seattle SuperSonics  0047700048
4       1610612760                    SEA  Seattle SuperSonics  0047700049
...            ...                    ...                  ...         ...
46659   1610612748                    MIA           Miami Heat  0042200403
46660   1610612748                    MIA           Miami Heat  0042200404
46661   1610612743                    DEN       Denver Nuggets  0042200405
46662   1610616834                    LBN          Team LeBron  0032200001
46663   1610616834                    LBN          Team LeBron  0032200001

      wl_home  fga_home  fg_pct_home  ftm_home  pts_home  fta_home  ...  \
0           W      97.0        0.454      18.0     106.0      25.0  ...
1           W      94.0        0.468      18.0     106.0      24.0  ...
2           L     107.0        0.336      20.0      92.0      29.0  ...
3           L      97.0        0.485      22.0     116.0      29.0  ...
4           W      85.0        0.424      26.0      98.0      31.0  ...
...       ...       ...          ...       ...       ...       ...  ...
46659       L      92.0        0.370      15.0      94.0      19.0  ...
46660       L      78.0        0.449      17.0      95.0      20.0  ...
46661       W      84.0        0.452      13.0      94.0      23.0  ...
46662       L     132.0        0.598       0.0     175.0       0.0  ...
46663       L     132.0        0.598       0.0     175.0       0.0  ...

       fga_away  fgm_away  oreb_away  dreb_away  reb_away  ast_away  stl_away  \
0          89.0      42.0        8.0       30.0      38.0      23.0       6.0
1          90.0      37.0       14.0       25.0      39.0      18.0       7.0
2          83.0      37.0       12.0       42.0      54.0      11.0       7.0
3         109.0      49.0       16.0       32.0      48.0      32.0       7.0
4          84.0      38.0       16.0       26.0      42.0      20.0       4.0
...         ...       ...        ...        ...       ...       ...       ...
46659      80.0      41.0       13.0       45.0      58.0      28.0       3.0
46660      79.0      39.0        5.0       29.0      34.0      26.0      11.0
46661      96.0      33.0       11.0       33.0      44.0      18.0       9.0
46662     123.0      76.0       10.0       36.0      46.0      43.0       8.0
46663     123.0      76.0       10.0       36.0      46.0      43.0       8.0

       blk_away  tov_away  pf_away
0           0.0      14.0     22.0
1           3.0      18.0     28.0
2          13.0      18.0     24.0
3           6.0      12.0     28.0
4           3.0      18.0     29.0
...         ...       ...      ...
46659       5.0      14.0     18.0
46660       7.0       8.0     18.0
46661       7.0       8.0     21.0
46662       1.0      12.0      2.0
46663       1.0      12.0      2.0

[46664 rows x 37 columns]

## 3. Data Preparation / Manipulation

### Calculating the efficiency of the home vs away teams for each game

In [9]:
# 1.Connect to SQL database
add_calculation_connection = sql.connect('basketball/nba.sqlite')
cursor = add_calculation_connection.cursor()
cursor.execute('''
    ALTER TABLE game_cleaned ADD COLUMN eff_home;
''')

cursor.execute('''
    ALTER TABLE game_cleaned ADD COLUMN eff_away;
''')

cursor.execute('''
    UPDATE game_cleaned
    SET eff_home = (
        pts_home + 
        reb_home + 
        ast_home + 
        stl_home + 
        blk_home - 
        ((fga_home - fgm_home) + 
        (fta_home - ftm_home) + 
        tov_home)
    ),
    eff_away = (
        pts_away + 
        reb_away + 
        ast_away + 
        stl_away + 
        blk_away - 
        ((fga_away - fgm_away) + 
        (fta_away - ftm_away) + 
        tov_away)
    )
''')

display_game_calculated_query = "SELECT * FROM game_cleaned"
game_calculated_df = pd.read_sql_query(display_game_calculated_query, add_calculation_connection)
print(game_calculated_df)
add_calculation_connection.close()

      team_id_home team_abbreviation_home       team_name_home     game_id  \
0       1610612760                    SEA  Seattle SuperSonics  0047700045
1       1610612764                    WAS   Washington Bullets  0047700046
2       1610612764                    WAS   Washington Bullets  0047700047
3       1610612760                    SEA  Seattle SuperSonics  0047700048
4       1610612760                    SEA  Seattle SuperSonics  0047700049
...            ...                    ...                  ...         ...
46659   1610612748                    MIA           Miami Heat  0042200403
46660   1610612748                    MIA           Miami Heat  0042200404
46661   1610612743                    DEN       Denver Nuggets  0042200405
46662   1610616834                    LBN          Team LeBron  0032200001
46663   1610616834                    LBN          Team LeBron  0032200001

      wl_home  fga_home  fg_pct_home  ftm_home  pts_home  fta_home  ...  \
0           W      97.0        0.454      18.0     106.0      25.0  ...
1           W      94.0        0.468      18.0     106.0      24.0  ...
2           L     107.0        0.336      20.0      92.0      29.0  ...
3           L      97.0        0.485      22.0     116.0      29.0  ...
4           W      85.0        0.424      26.0      98.0      31.0  ...
...       ...       ...          ...       ...       ...       ...  ...
46659       L      92.0        0.370      15.0      94.0      19.0  ...
46660       L      78.0        0.449      17.0      95.0      20.0  ...
46661       W      84.0        0.452      13.0      94.0      23.0  ...
46662       L     132.0        0.598       0.0     175.0       0.0  ...
46663       L     132.0        0.598       0.0     175.0       0.0  ...

       oreb_away  dreb_away  reb_away  ast_away  stl_away  blk_away  tov_away  \
0            8.0       30.0      38.0      23.0       6.0       0.0      14.0
1           14.0       25.0      39.0      18.0       7.0       3.0      18.0
2           12.0       42.0      54.0      11.0       7.0      13.0      18.0
3           16.0       32.0      48.0      32.0       7.0       6.0      12.0
4           16.0       26.0      42.0      20.0       4.0       3.0      18.0
...          ...        ...       ...       ...       ...       ...       ...
46659       13.0       45.0      58.0      28.0       3.0       5.0      14.0
46660        5.0       29.0      34.0      26.0      11.0       7.0       8.0
46661       11.0       33.0      44.0      18.0       9.0       7.0       8.0
46662       10.0       36.0      46.0      43.0       8.0       1.0      12.0
46663       10.0       36.0      46.0      43.0       8.0       1.0      12.0

       pf_away  eff_home  eff_away
0         22.0     113.0     102.0
1         28.0     117.0      91.0
2         24.0      89.0     105.0
3         28.0     131.0     132.0
4         29.0      98.0      86.0
...        ...       ...       ...
46659     18.0      91.0     145.0
46660     18.0      99.0     133.0
46661     21.0     114.0      94.0
46662      2.0     215.0     222.0
46663      2.0     215.0     222.0

[46664 rows x 39 columns]

### Duplicate the team table so that I can have a city for each team in the game_cleaned table

In [ ]:
duplicate_team_table_connection = sql.connect('basketball/nba.sqlite')
cursor = duplicate_team_table_connection.cursor()
cursor.execute('''
    CREATE TABLE duplicate_team_table AS
    SELECT * FROM team
''')
duplicate_team_table_connection.closed()

### Joining the duplicated table with the cleaned game table, rename the city field AND state field for the home team

In [ ]:
join_duplicated_team_w_cleaned_game = sql.connect('basketball/nba.sqlite')
cursor = join_duplicated_team_w_cleaned_game.cursor()
cursor.execute('''
      SELECT 
        game_cleaned.team_id_home, 
        game_cleaned.team_name_home, 
        game_cleaned.team_name_away, 
        game_cleaned.game_id,
        game_cleaned.eff_home,
        game_cleaned.eff_away,
        duplicate_team_table.state AS state_away,
        duplicate_team_table.city AS city_away
    FROM game_cleaned
    INNER JOIN duplicate_team_table ON game_cleaned.team_id_away = duplicate_team_table.id;
''')
display_game_team_duplicate_joined_query = "SELECT * FROM game_cleaned"
game_team_duplicated_df = pd.read_sql_query(display_game_team_duplicate_joined_query, join_duplicated_team_w_cleaned_game)
print(game_team_duplicated_df)
join_duplicated_team_w_cleaned_game.closed()

### Joining the original team Table with the cleaned Game table and renaming the city field AND state field for the away team

In [ ]:
join_teams_original_and_games_cleaned_connection = sql.connect('basketball/nba.sqlite')
cursor = join_teams_original_and_games_cleaned_connection.cursor()
cursor.execute('''
    SELECT  
        game_cleaned.team_id_away, 
        game_cleaned.team_name_home, 
        game_cleaned.team_name_away, 
        game_cleaned.game_id,
        game_cleaned.eff_home,
        game_cleaned.eff_away,
        game_cleaned.state_away,
        game_cleaned.city_away,
        team.state AS state_home,
        team.city AS state_away
    FROM game_cleaned
    INNER JOIN team ON game_cleaned.team_id_home = team.id;
''')


display_fully_joined_game_query = "SELECT * FROM game_cleaned"
game_fully_joined_df = pd.read_sql_query(display_fully_joined_game_query, join_teams_original_and_games_cleaned_connection)
print(game_fully_joined_df)
join_teams_original_and_games_cleaned_connection.close()

### Add a column with the timezone of the away team vs the home team.

### Add a column with the distance between the two cities.